#app {
  border: 1px solid black;
  margin: 40px 60px 0 60px;
  height: 550px;
}

#tree {
  display: inline-block;
  padding-left: 30px;
  width: 1000px;
  padding: 10px;
}

#basic-actions {
  padding: 80px 10px;
  display: inline-block;
  width: 300px;
}

#basic-actions .action {
  display: block;
  margin: 20px;
}

#basic-actions .action button {
	width: 80px;
}

#basic-actions .action input {
	width: 74px;
	margin-right: 20px;
}

#traversal-actions {
  border: 1px solid black;
  margin: 0 60px 40px 60px;
  padding: 20px;
}

#traversal-preview {
  border: 1px solid black;
  margin: 30px 60px 0 60px;
  padding: 20px;
  text-align: center;
}

#traversal-actions .action {
  display: inline-block;
  margin: 0 50px;
}

#traversal-actions .action input{
	margin-right: 15px;
  }

.app-link {
  color: #61dafb;
}

* {margin: 0; padding: 0;}

.tree ul {
	padding-top: 20px; position: relative;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

.tree li:only-child{ padding-top: 0;}

.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}

.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 16px;
	font-weight: 600;
	display: inline-block;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}